@{
    ViewData["Title"] = "Welcome to the Expense Management System";
}

<div class="jumbotron text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Welcome to the Expense Management System! Here you can manage your transactions, track categories, and more.</p>
    <hr class="my-4">
    <p>If you don't have an account, <a href="/Account/Register">register here</a>.</p>
    <p><a class="btn btn-primary btn-lg" href="/Account/Login" role="button">Login</a></p>
</div>
